{% extends "base.html" %}

{% block content %}

<h1>Nadzorna ploča</h1>

<div class="card-row">

    <div class="card">
        <h3>Proizvodi</h3>
        <p style="font-size:24px;">{{ total_products }}</p>
    </div>

    <div class="card">
        <h3>Skladišta</h3>
        <p style="font-size:24px;">{{ total_warehouses }}</p>
    </div>

    <div class="card">
        <h3>Niska zaliha</h3>
        <p style="font-size:24px; color:red;">{{ low_stock_count }}</p>
    </div>

</div>

{% endblock %}